{
	log {
		level INFO
	}
}
:8010 {
	root public/
	encode zstd br gzip
	@blockPHP {
        path_regexp blockphp .*\.php$
    }
    respond @blockPHP "Forbidden" 403
	php_server {
		try_files {path} index.php	
	}
	header /assets/* Cache-Control "public, max-age=31536000, immutable"
}